extends layout

block content
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        a.navbar-brand HalgaiAPI Server Test

  .container
    include include/auth
    //- include include/item
    include include/userMaster
    //- include include/arrival
