doctype html
html
  head
    title= title
    //- Latest compiled and minified CSS
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    //- script(src='/javascripts/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin="anonymous")
    script(src='/javascripts/jquery-3.2.1.min.js', crossorigin="anonymous")
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/main.js')
  body
    block content
